
  html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  
  
body{
    color: rgb(227, 217, 217);
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
  }
  .menu{
    font-size: 200%;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
  }
  #first{
   padding-left: 120px;
  }
  #top{
    text-align: center;
  }
  .main{
    text-align: left;
  }
  .right{
    text-align: right;
  }